*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo {
    width: 600px;
    padding: 20px 17px;
    display: block;
    margin: auto;
    margin-top: 60px;
	border: 3px double;
    border-radius: 25px;
    line-height: 0.6cm;
	background-color: black;
	color: green;
}

.data {
    text-align: center;
}

.conteudo {
    text-align: center;
}

.a {
    text-decoration: none;
    color: white;

}


.link {
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: green;
    font-weight: bold;
    width: 100px;
    margin-left: 250px;
}

.link:hover {
    background-color: green;
    border-color: white;
}